body {
    background-image: url(./image/bg-web.jpg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.5em;
    margin: 0;
    overflow-x: hidden;
}

.wrapper {
    width: 1000px;
    margin: 20px auto 20px auto;
    border: 3px solid black;
    background-color: #00b288;
}

header {
    background-image: url(./image/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    border-bottom: 5px solid black;
}

a:link, a:visited, a:link:active, a:link:active{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h1, h3 {
    margin-top: 0;
    margin-bottom: 10;
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

nav {
    background-color: whitesmoke;
    border-bottom: 5px solid black;
}

ul {
    margin: 0;
    padding: 20px;
}

li {
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

li:hover {
    background-color: #4fb9af;
    border-radius: 15px;
}

li:hover a {
    color: white;
}

main {
    display: flex;
    flex-direction: row;
}

section .main-article{
    max-width: 600px;
}

figure img{
    float: left;
    width: 200px;
    height: 150px;
    margin-right: 15px;
    border: 2px solid black;
}

section article {
    clear: both;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 350px;
    border-left: 2px solid black;
    padding-left: 3px;
}

h6{
    font-size: large;
    margin-top: 0;
    margin-bottom: 0;
}

aside{
    margin-top: 10px;
}

.review-box{
    width: 280px;
    border: 1px solid #d4dedf;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

.review-box span{
    font-size: 12px;
    color: #d4dedf;
}

.review-box .review{
    word-wrap: break-word;
}

.review{
    margin-bottom: 1px;
}

hr{
    border: 6px solid white;
    border-radius: 25px;
    width: 200px;
    margin: 20px;
}

iframe {
    width: 280px;
    height: 210px;
}

footer{
    display: block;
    background-color: whitesmoke;
    text-align: center;
    height: 40px;
    border-top: 3px solid black;
    font-weight: bold;
}